<div class="text-center" style="padding-top: 30vh;">
    <div class="row">
        <!----------------- Delivery -------------------->
        <div class="col-6" [routerLink]="['/delivery']" (click)="saveData('delivery')">
            <div class="green-button">
                <h2>Delivery</h2>
            </div>
        </div>
        <!----------------------------------------------->

        <!----------------- Reserve -------------------->
        <div class="col-6" [routerLink]="['/reserve']" (click)="saveData('reserve')">
            <div class="green-button">
                <h2>Reserve</h2>
            </div>
        </div>
        <!---------------------------------------------->
    </div>
</div>