.category-list{
    font-family: gt-walsheim;
    overflow-x: scroll;
    flex-wrap: nowrap;
}
.category-button{
    border: 1px solid #B39462;
    padding: 3.5rem 0.5rem;
}
.next-button{
  position:absolute;
  right: 0;
  margin-top: 2.1rem;
  z-index: 1;
}
.prev-button{
  position:absolute;
  left: 0;
  margin-top: 2.1rem;
  z-index: 1;
}
/* width */
::-webkit-scrollbar {
  width: 1vw;
}
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #b3b3b3; 
  border-radius: 0.5rem;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: #B39462; 
  border-radius: 0.5rem;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B39462; 
}