<div>
    <div>
        <img class="max-width" src="./assets/dist/img/food-ex.jpg"/>
    </div>
    <div class="container">
        <div class="row pb-3">
            <!--------------- back button ---------------->
            <div class="col-2 mt-2 mb-2">
                <!-- Back to home page -->
                <div *ngIf="this.routeId === ' '">
                    <a class="back-button text-left" [routerLink]="['/' + this.taskSelect]">&lt;</a>
                </div>
                <!----------------------->

                <!-- Back to category page -->
                <div *ngIf="this.routeId !== ' '">
                    <a class="back-button text-left" [routerLink]="['/' + this.taskSelect,'shop-list',this.taskSelect, this.routeId]">&lt;</a>
                </div>
                <!----------------------->
            </div>
            <!------------------------------------------->
            <div class="col-10">
                <!-- <h1>{{this.restaurantName}}</h1>
                <p class="desiption-text">Some description</p> -->
                <!-- <h1>{{restaurantInfo.data[0].mstMerchantTranslation[0].name}}</h1>
                <p class="desiption-text">{{restaurantInfo.data[0].mstMerchantTranslation[0].detail}}</p>
                <p class="desiption-text">{{restaurantInfo.data[0].openTime}}</p>
                <p class="desiption-text">{{restaurantInfo.data[0].closeTime}}</p> -->
            </div>
        </div>
        <!---------------------------------------------->
        <app-delivery *ngIf="this.taskSelect === 'delivery'"></app-delivery>
        <app-reserve *ngIf="this.taskSelect === 'reserve'"></app-reserve>
    </div>
</div>