<div class="pop-up-content">
<!--------------- Address area -------------------->
    <div>
        <p>Addrees</p>
        <div class="form-group">
            <input class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Phone number">
        </div>
        <hr>
    </div>

    <div class="row text-center pb-3">
        <div class="col-6">
            <div class="green-button" (click)="getPosition()">
                <p>Delivery</p>
            </div>
        </div>
        <div class="col-6">
            <div class="green-button">
                <p>Pick up</p>
            </div>
        </div>
    </div>
<!---------------------------------------------------->
<!--------------- Comment area -------------------->
    <div>
        <p>Comment</p>
        <textarea class="form-control" rows="2" id="comment"></textarea>
    </div>
    <div class="row cart-button text-center">
        <div class="col-2">
            <p>0</p>
        </div>
        <div class="col-8">
            <p>Summary</p>
        </div>
        <div class="col-2">
            <p>0</p>
        </div>
    </div>
<!---------------------------------------------------->
</div>